@import url("../utils/colors.module.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 100%;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
