.services .top{
  width: 100%;
  height: 380px;
  background-image: url(../../public/images/software-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
}

.services .gradient_dark {
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.services h1 {
  width: 70%;
  font-size: 72px;
  font-weight: 700;
  line-height: 110%;
  color: #fff;
}

.software_info {
  height: 762px;
  background-image: url(../../public/images/softw.jpg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 98% 50%;
}

.software_info .page_info {
  padding: 72px 0;
}

.software_info h2,
.software_info p {
  width: 50%;
}

.software_info h2 {
  font-size: 46px;
  padding: 0 0 24px;
}

.software_info p {
  font-size: 20px;
  margin: 0 0 30px;
}

/* Section Technologies */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.technologies {
  min-height: 660px;
  background: #f1f5f7;
  padding: 72px 0;
}

h2.pretitle,
h3.pretitle {
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 48px;
}

h2.pretitle::after,
h3.pretitle::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 1px;
  width: 50%;
  height: 2px;
  transition: 0.2s;
  background: linear-gradient(45deg, #250d44, #0e5198, #8aa9d6);
  border-radius: 1px;
}

.pretitle_desc {
  position: relative;
  font-size: 22px;
  margin-bottom: 24px;
  margin-left: 3px;
}

.enterprise {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

